/* Google-Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* margin: 20px 60px; */
}
main{
    display: flex;
}

 /* Head section starts from here  */

 .banner-section{
    display: flex;
    color: white;
    background-color:  #161616;
    border-radius: 30px;
    margin-bottom: 60px;
 }

 .banner-info{
    width: 50%;
    padding: 50px;
 }

 .banner-h1{
    font-size: 3em;
 }

 .banner-image img{
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
 }

 button{
    color: white;
    background-color: rgba(212, 13, 13, 0.856);
    border: none;
    border-radius: 10px;
    padding: 10px;

 }

 /* Main part stars from here  */

 .side-part{
    background-color: #161616;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    font-weight: 900;
    max-height: 350px;
    margin-right: 40px;
    margin-top: 10px;
    
 }

 .link-button{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
 }

 #side-a{
    background-color:  rgba(212, 13, 13, 0.918);;
    color: white;
 }

 .flag-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 100px;
    margin: 50px 20pxpx;
    padding-bottom: 40px;
   
    
 }

 .flags{
    display: flex;
    margin-top: 30px;
    
 }
    .germany{
        margin-right: 20px;
    }

    .france{
        margin-left: 20px;
    }
    .flags-p{
        text-align: center;
        font-weight: 500;
       
    }
    #flags-p{
        color: rgb(120, 122, 124);
    }

    .flag-section{
        border: 1px solid rgba(0, 0, 0, 0.041);
        box-shadow: 6px 3px rgba(0, 0, 0, 0.062);
        height: 200px;
        padding: 20px;
        
    }

    span{
        font-weight: 600;
        padding-top: 15px;
    }
/* Footer Starts from here  */

footer{
    background-color: #161616;
    text-align: center;
    width:100%;
    color: white;
    padding-bottom: 20px;
    margin: 0;
}

#footer{
    font-size: 3em;
    padding-top:30px ;
   
}

hr{
 border: 1px solid rgb(131, 127, 127);
}

.footer-a{
    color: white;
    padding-right:20px ;
    text-decoration: none;
}

/* FOR MOBILE  */

@media only screen and (max-width:740px) {
    .banner-section{
        grid-template-columns: repeat(1, 1fr);
        
    }
    main{
        grid-template-columns: repeat(1, 1fr);
    }
}